# Sti til Google service account JSON (relativ til docker-compose.yml).
GOOGLE_APPLICATION_CREDENTIALS=./google-credentials.json

# Valgfri: overstyr spreadsheet-id.
# GOOGLE_SHEETS_SPREADSHEET_ID=141LDJNA1KpJpEULTmpme4MhyJkoZ9fRHmbnqYH4EKfs
